* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

div#nav {
    width: 100%;
}

a.link {
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16.5px;
    color: white;
    margin-left: 10px;
    transition: 300ms ease-in-out;
    text-decoration: underline rgba(0,0,0,0);
}

a.link:hover {
    text-decoration: underline #00ccff;
    color: #00ccff;
}

div#title {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

h1, h3{
    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 100;
}

h1 {
    padding-top: 40vh;
    font-size: 60px;
    line-height: 65px;
}

h2 {
    margin-left: -40vw;
    margin-top: -10vh;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 100;
    font-size: 50px;
}
h2.black {
    color: black;
}
h2.white {
    color: white;
}

h3 {
    font-size: 30px;
}
h3.white {
    color: white;
}
h3.black {
    color: black;
    line-height: 40px;
}

p {
    font-family: Roboto,Arial,sans-serif;
    font-weight: 100;
    font-size: 20px;
}
p.black {
    color: black;
}
p.white {
    color: white;
}

body {
    background-color: #000000;
}


.features {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 7;
    color: black;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
  }

.command-sub {
    margin-left: 5vw;
    width: 50%;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 7px rgb(50,50,50);
    transition: 0.3s ease-in-out;
    background-color: white;
}

.command-sub:hover {
    box-shadow: 15px 15px 21px rgb(50,50,50);
}