/* Modified from: https://keithclark.co.uk/articles/pure-css-parallax-websites/ */



.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 100%;
  margin: 0;
  padding: 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
}
.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 6;
}
.parallax__layer--fore-star {
  -webkit-transform: translateZ(80px) scale(.65);
  transform: translateZ(80px) scale(.65);
  z-index: 5;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}
.parallax__layer--deepish {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-900px) scale(4);
  transform: translateZ(-900px) scale(4);
  z-index: 1;
}